<!DOCTYPE html>
<html lang="en">

<head>
    <title>Luxury Furnish an E-Commerce online Shopping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Luxury Furnish Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/pignose.layerslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href='//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="css/component.css" rel='stylesheet' type='text/css' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="js/simpleCart.min.js"> </script>
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/custom/indexjquery.js"></script>
    <script type="text/javascript" src="js/jquery.flexisel.js"></script>
    <script defer src="js/jquery.flexslider.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/jquery.easydropdown.js"></script>
    <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="libs/ngStorage.min.js"></script>

    <script src="app.js"></script>
    <script src="js/config/routesconstants.js"></script>
    <script src='spa-routes.js'></script>
    <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script src="js/model/user.js"></script>
    <script src="js/model/loginuser.js"></script>
    <script src="js/model/accountuser.js"></script>
    <script src="js/model/edituser.js"></script>
    <script src="js/model/buynowitems.js"></script>
    <script src="js/model/cartdata.js"></script>
    <script src="js/model/confirmpassword.js"></script>
    <script src="js/model/useraddress.js"></script>
    <script src="js/model/buynowpreview.js"></script>

    <script src="js/config/urlconfig.js"></script>
    <script src="js/factory/userfactory.js"></script>
    <script src="js/controller/usercontroller.js"></script>
    <script src="js/factory/retrieveproductfactory.js"></script>
    <script src="js/controller/retrieveproductcontroller.js"></script>
    <script src="js/factory/retrievetopfactory.js"></script>
    <script src="js/controller/retrievetopcontroller.js"></script>
    <script src="js/factory/sanitizerfactory.js"></script>
    <script src="js/controller/sanitizercontroller.js"></script>
    <script src="js/factory/sanitaryfactory.js"></script>
    <script src="js/controller/sanitarycontroller.js"></script>
    <script src="js/factory/confactory.js"></script>
    <script src="js/controller/concontroller.js"></script>
</head>

<body ng-controller="myctrl" ng-app="myapp">
    <div ng-show="successpay" class="div2">
        <h4>Your payment has been made successfully</h4>
    </div>
    <!-- NAVBAR SECTION -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="font-size:1.3em"> Care
                    <span style="font-size:1.5em">+</span>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="mynav">
                    <a ng-href="#/"> Home </a>
                </li>
                <li class="mynav">
                    <a data-toggle="dropdown">Categories
                        <span class="caret"></span>
                    </a>
                    <ul style="background-color:#333;min-width:0%" class="dropdown-menu">
                        <li>
                            <a href="#/sanitizers">Sanitizers</a>
                        </li>
                        <li>
                            <a href="#/sanitarypads">Sanitary Pads</a>
                        </li>
                        <li>
                            <a href="#/condoms">Condoms</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div>
                <form class="navbar-form navbar-left" action="/action_page.php">
                    <div class="form-group relative">
                        <input type="text" class="form-control w-300" placeholder="Search">
                        <button type="submit" class="btn glyphicon absolute srch-ryt glyphicon-search"></button>
                    </div>

                </form>
            </div>
            <ul class="nav navbar-nav navbar-right">

                <li class="mynav" ng-show="!enablelogin">
                    <a data-toggle="modal" data-target="#myModalRegister">
                        <span class="glyphicon glyphicon-user"></span> Sign Up </a>
                </li>
                <li class="mynav" ng-show="!enablelogin">
                    <a data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-log-in"></span> Login </a>
                </li>
                <li class="mynav" ng-show="enablelogin">
                    <a ng-model="login"> {{login}} </a>
                </li>
                <li class="mynav" ng-show="enablelogin">
                        <a style="position:relative" ng-href="#/cart">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
                        
                </li>
            </ul>
        </div>
        <a ng-show="enablelogin" ng-init="0" style="z-index: 99999999999" class="notification" ng-model="countitem">{{countitem}}</a>
    </nav>
   
    <!-- Modal Register-->
    <div class="modal fade" id="myModalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="main">
                        <div class="contain">
                            <div class="register">
                                <div class="register-top-grid">
                                    <h3 style="margin-bottom:2%" class="text-center pb-3">PERSONAL INFORMATION</h3>
                                </div>

                                <form name="f1" novalidate ng-submit="formsubmit(f1)">
                                    <div class="row my-form-group">
                                        <div class="col-md-12">
                                            <div style="float:right;width:40%" class="form-group">
                                                <label class="inputheading">Last Name* </label>
                                                <input required name="lastname" type="text" class="form-control inputbox" ng-model="lastname">
                                                <p style="float:right" class="error" ng-show="f1.lastname.$touched && f1.lastname.$invalid">Last Name is required</p>
                                            </div>
                                            <div style="width:40%" class="form-group">
                                                <label class="inputheading"> First Name* </label>
                                                <input required name="firstname" type="text" class="form-control inputbox" ng-model="firstname">
                                                <p class="error" ng-show="f1.firstname.$touched && f1.firstname.$invalid">First Name is required</p>
                                            </div>

                                            <div class="form-group">
                                                <label class="inputheading"> E-mail Address* </label>
                                                <input required name="userid" type="email" class="form-control inputbox" ng-model="userid">
                                                <p class="error" ng-show="f1.userid.$touched&&f1.userid.$invalid">Enter a valid E-mail Address</p>
                                                <p class="error" >{{valid_user}}</p>
                                            </div>

                                            <div class="form-group">
                                                <label class="inputheading"> Mobile Number* </label>
                                                <input required name="mobile" type="text" class="form-control inputbox" ng-pattern="/^[0-9]{10,10}$/" ng-model="mobile">
                                                <p class="error" ng-show="f1.mobile.$touched&&f1.mobile.$invalid">Mobile number should be 10 digits</p>
                                            </div>

                                            <div class="form-group">
                                                <label class="inputheading"> Password* </label>
                                                <input required style="margin:0%" type="password" class="form-control inputbox" ng-model="password" name="password">
                                                <p class="error" ng-show="f1.password.$touched&&f1.password.$invalid">Password should be at least 8 characters long and should contain one number,one
                                                    character and one special character.</p>
                                            </div>

                                        </div>
                                    </div>
                                    <button class="btn btn-default mybtn" ng-click="doRegister()"> Sign Up</button>
                                </form>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Login-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="account_grid">
                        <div class="col-md-6 login-left">
                            <h3>NEW CUSTOMERS</h3>
                            <p>By creating an account with our store, you will be able to move through the checkout process
                                faster, store multiple shipping addresses, view and track your orders in your account and
                                more.
                            </p>
                            <a class="acount-btn" data-toggle="modal" data-dismiss="modal" data-target="#myModalRegister">Create an Account</a>
                        </div>
                        <div class="col-md-6 login-right">
                            <h3>REGISTERED CUSTOMERS</h3>
                            <p>If you have an account with us, please log in.</p>
                            <form name="f2" novalidate>
                                <div>
                                    <span ng-show="!forgot">Email Address
                                        <label>*</label>
                                    </span>
                                    <input required  class="form-control inputbox" name="loginid" type="email" ng-model="loginid" ng-show="!forgot">
                                    <div ng-show="!forgot"><p style="font-size:0.8em;color:red" ng-show="f2.loginid.$touched&&f2.loginid.$invalid">Enter a valid E-mail Address</p></div>
                                </div>

                                <div>
                                    <span ng-show="forgot">Email Address
                                        <label>*</label>
                                    </span>
                                    <input class="form-control inputbox" type="email" name="loginid1" ng-model="loginid1" ng-show="forgot">
                                    <div class="{{showidmsg}}"><p  ng-show="forgot"> {{registerid}} </p></div>
                                </div>

                                <div>
                                    <span ng-show="!forgot">Password
                                        <label>*</label>
                                    </span>
                                    <input required class="form-control inputbox" name="loginpassword" type="password" ng-model="loginpassword" ng-show="!forgot">
                                    <!-- <div ng-show="!forgot"><p style="font-size:0.8em;color:red" ng-show="f2.loginpassword.$touched&&f2.loginpassword.$invalid">Password should be at least 8 characters long and should contain one number,one character
                                        and one special character.</p></div> -->
                                    <p style="font-size:0.8em;color:red" ng-show="!forgot"> {{invalidpassword}} </p>
                                    
                                </div>
                                <a class="forgot setcursor" style="color: #31C2DB" ng-show="!forgot" ng-click="forgotpass()">Forgot Your Password?</a>
                                <a class="forgot setcursor" style="color: #31C2DB" ng-show="forgot" ng-click="forgotpassword()">Forgot Your Password?</a>
                                <button class="btn" ng-click="doLogin()" ng-show="!forgot"> Login </button>
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="{{showmsg}}">
                    <p> {{msg}} </p>
                </div>
            </div>
        </div>
    </div>

    <!-- HEADER SECTION -->
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <a>
                        <h6></h6>
                        <h2>
                            <span style="font-size:1.5em">C</span>
                            <span style="font-size:0.9em">are</span>
                            <span style="font-size:1.7em">+</span>
                        </h2>
                    </a>
                </div>
                <div class="header_right">
                    <ul class="social">
                        <li>
                            <a>
                                <i class="fb"> </i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="tw"> </i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="utube"> </i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="pin"> </i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="instagram"> </i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="banner_wrap ">
                <div class="bannertop_box" style="color: #fff;
                font-size: 2.0em;
                text-transform: capitalize;
                margin-top:5%;
                margin-left:2.5%;
                line-height: 1.2em;
                ">
                    <p>Prepare For
                        <br> &nbsp&nbsp
                        <span style="color:aqua">Pre Care</span>
                    </p>
                </div>
                <div class="banner_right">
                    <h1 style="margin-bottom:2.5%">Delivery within 45 mins
                        <br>otherwise
                        <font color="#FECF17"> FREE</font>
                    </h1>
                    <p></p>
                </div>
                <div class='clearfix'></div>
            </div>
        </div>
    </div>

    <!-- Changing div -->
    <div>
        <ng-view></ng-view>
    </div>

    <!-- FOOTER SECTION -->
    <div class="footer">
        <div class="container">
            <div class="footer-grid">
                <h3>Category</h3>
                <ul class="list1">
                    <li>
                        <a ng-href="#/">Home</a>
                    </li>
                    <li>
                        <a class="setcursor">About us</a>
                    </li>
                </ul>
            </div>
            <div class="footer-grid">
                <h3>Your Account</h3>
                <ul class="list1">
                    <li>
                        <a class="setcursor" ng-click="editprofile()"> My Account</a>
                    </li>
                    <li>
                        <a class="setcursor" ng-click="myorders()"> Orders history</a>
                    </li>
                </ul>
            </div>
            <div class="footer-grid">
                <h3>Our Support</h3>
                <ul class="list1">
                    <li>
                        <a ng-href="#/contactus">Contact Us</a>
                    </li>
                    <li>
                        <a ng-href="#/contactus">Addresses</a>
                    </li>
                </ul>
            </div>
            <div class="footer-grid">
                <h3>Newsletter</h3>
                <p class="footer_desc"> Sign up for our free newsletter </p>
                <div class="search_footer">
                    <input type="text" class="text" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}">
                    <input type="submit" value="Subscribe">
                </div>
                <p class="footer_desc"> Payment method </p>
                <img src="images/payment.png" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="copy">
                <p>Copyright &copy; 2015 Luxury Furnish. All Rights Reserved . Design by
                    <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                </p>
            </div>
        </div>
    </div>

    <div ng-show="blurred" class="div1"></div>

</body>

</html>