</script>
<div>
    <div class="container">
        <div class="row">
            <div style="float:right" class="col-md-4">
                <div class="price-details account" style="margin-top:10px;">
                    <h3>Price Details</h3>
                    <span>Total</span>
                    <span class="total1">6200.00</span>
                    <span>Discount</span>
                    <span class="total1">---</span>
                    <span>Delivery Charges</span>
                    <span class="total1">150.00</span>
                    <div class="clearfix"></div>
                </div>
                <ul class="total_price account">
                    <li class="last_price">
                        <h4>TOTAL</h4>
                    </li>
                    <li class="last_price">
                        <span>6350.00</span>
                    </li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="checkoutdiv">
                    <div>
                        <div class="headingdiv mrgntop">
                            <span class="glyphicon glyphicon-plus" id="profileimage"></span>DELIVERY ADDRESS </div>
                    </div>
                    <div style="padding:2%;">
                        <p class="topedit">Edit</p>
                        <input type="radio">

                        <span style="margin-left:1%" class="edit">XYZ</span>
                        <span style="margin-left:3%" class="edit">9811127XXX</span>
                    </div>
                    <div class="address" style="margin-left:5.2%;">
                        <p ng-click="opensummary()" class="address">69-C Udyog Nagar near xyz lane Delhi-110035</p>
                    </div>
                    <div style="padding:2%">
                        <button style="width:20%" class="btn btn-danger" ng-click="summary=!summary;">DELIVER HERE</button>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="checkoutdiv">
                    <div>
                        <div class="headingdiv">
                            <span class="glyphicon glyphicon-plus" id="profileimage"></span>ORDER SUMMARY </div>
                    </div>
                    <div ng-show="summary" style="padding:2%" class="cart-header">
                        <div style="margin-bottom:0%" class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                <img src="images/pic1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="cart-item-info">
                                <h3 class="edit">
                                    <a href="#">Mountain Hopper(XS R034)</a>
                                    <span>Model No: 3578</span>
                                </h3>
                                <ul class="product-qty">
                                    <span style="font-size:1em;margin:1%">Quantity:</span>
                                    <select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </ul>
                                <div class="address">
                                    <p>Service Charges : Rs.100.00</p>
                                    <p style="float:right">Delivered in 2-3 bussiness days</p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div style="padding:2%;">
                                <button style="width:20%;" class="btn btn-primary" ng-click="payment=!payment;">CONTINUE</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="checkoutdiv">
                    <div>
                        <div class="headingdiv">
                            <span class="glyphicon glyphicon-plus" id="profileimage"></span>PAYMENT </div>
                    </div>
                    <div ng-show="payment">
                        <div style="padding:2%;">
                            <input type="radio">
                            <span style="margin-left:1%" class="edit">Credit</span>
                        </div>
                        <div class="container">
                            <div style="float:right;margin-top:15px;">
                                <table>
                                    <tr>
                                        <td> CVV&nbsp&nbsp </td>
                                        <td>
                                            <input style="margin-right:3%;;border: 1px solid #ADA7A7;padding:2%;line-height:34px;width:70px;" type="text">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <table>
                                <tr>
                                    <td> Card number </td>
                                    <td>
                                        <input style="margin:5%;border: 1px solid #ADA7A7;padding:2%;line-height:34px;width:210px;" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Name on Card</td>
                                    <td>
                                        <input style="margin:5%;border: 1px solid #ADA7A7;padding:2%;line-height:34px;width:210px;" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Expiry Date </td>
                                    <td>
                                        <input style="margin:5%;border: 1px solid #ADA7A7;padding:2%" type="month">
                                    </td>
                                </tr>
                            </table>

                            <div style="width:50%;  float:right" class="confirm-but">
                                <form style="float:right">
                                    <input style="background-color:lightcoral" type="submit" value="Pay Rs.999">
                                    <div class="clearfix"> </div>
                                </form>
                            </div>

                        </div>
                        <div style="border-bottom: solid 1px #e0e0e0;margin-top:2%"></div>
                        <div style="padding:2%;">
                            <input type="radio">
                            <span style="margin-left:1%" class="edit">Debit</span>
                        </div>
                        <div class="container">
                            <div style="float:right;margin-top:15px;">
                                <table>
                                    <tr>
                                        <td> CVV&nbsp&nbsp </td>
                                        <td>
                                            <input style="margin-right:3%;;border: 1px solid #ADA7A7;padding:2%;line-height:34px;width:70px;" type="text">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <table>
                                <tr>
                                    <td>Card number </td>
                                    <td>
                                        <input style="margin:5%;border: 1px solid #ADA7A7;padding:2%;line-height:34px;width:210px;" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Name on Card </td>
                                    <td>
                                        <input style="margin:5%;border: 1px solid #ADA7A7;padding:2%;line-height:34px;width:210px;" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Expiry Date</td>
                                    <td>
                                        <input style="margin:5%;border: 1px solid #ADA7A7;padding:2%" type="month">
                                    </td>
                                </tr>
                            </table>

                            <div style="width:50%;  float:right" class="confirm-but">
                                <form style="float:right">
                                    <input style="background-color:lightcoral" type="submit" value="Pay Rs.999">
                                    <div class="clearfix"> </div>
                                </form>
                            </div>

                        </div>

                        <div style="border-bottom: solid 1px #e0e0e0;margin-top:2%"></div>
                        <div style="padding:2%;" class="mrgnbtm">
                            <input type="radio">
                            <span style="margin-left:1%" class="edit">Cash on Delivery</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>