 <div class="main ">
    <div class="content_box">
        <div class="container">
            <div>
                <div>
                    <div class="account mrgntop mrgnbtm">
                    <div class="register-top-grid">
                        <h3> CONTACT US </h3>
                    </div>
                    <div class="singel_right">
                        <div class="lcontact span_1_of_contact">
                            <div class="contact-form">
                                <form>
                                    <p class="comment-form-author">
                                        <label for="author">Your Name:</label>
                                        <input type="text" class="textbox" value="Enter your name here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your name here...';}">
                                    </p>
                                    <p class="comment-form-author">
                                        <label for="author">Email:</label>
                                        <input type="text" class="textbox" value="Enter your email here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                                    </p>
                                    <p class="comment-form-author">
                                        <label for="author">Message:</label>
                                        <textarea value="Enter your message here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Enter your message here...</textarea>
                                    </p>
                                    <input name="submit" type="submit" id="submit" value="Submit">
                                </form>
                            </div>
                        </div>
                        <div class="contact_grid span_2_of_contact_right">
                            <h3>Address</h3>
                            <div class="address">
                                <i class="pin_icon"></i>
                                <div class="contact_address">
                                    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                                    Typi non
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="address">
                                <i class="phone"></i>
                                <div class="contact_address">
                                    1-25-2568-897
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="address">
                                <i class="mail"></i>
                                <div class="contact_email">
                                    <p>Email :
                                        <a href="mailto:example@mail.com">mail@example.com</a>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div></div>
                    <div class="map">
                        <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe>
                        <br>
                        <small>
                            <a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265"
                                style="color:#666;text-align:left;font-size:12px"></a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>