<!-- MAIN SECTION -->
<div class="main">
    <div class="content_box">
        <!-- <div class="container"> -->
        <div class="row">

            <div class="col-md-12">
                <h3 class="m_1">New Products</h3>
                <div class="content_grid">
                    <div class="col_1_of_4 span_1_of_4 simpleCart_shelfItem">
                        <a>
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="images/pic1.jpg" class="img-responsive" alt="" />
                                    <a href="" class="button item_add item_1"> </a>
                                    <div class="product_container">
                                        <div class="cart-left">
                                            <p class="title">Lorem Ipsum 2015</p>
                                        </div>
                                        <span class="amount item_price">$2300.00</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_4 span_1_of_4 simpleCart_shelfItem">
                        <a>
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="images/pic2.jpg" class="img-responsive" alt="" />
                                    <a href="" class="button item_add item_1"> </a>
                                    <div class="product_container">
                                        <div class="cart-left">
                                            <p class="title">Lorem Ipsum 2015</p>
                                        </div>
                                        <span class="amount item_price">$1500.00</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_4 span_1_of_4 simpleCart_shelfItem last_1">
                        <a>
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="images/pic3.jpg" class="img-responsive" alt="" />
                                    <a href="" class="button item_add item_1"> </a>
                                    <div class="product_container">
                                        <div class="cart-left">
                                            <p class="title">Lorem Ipsum 2015</p>
                                        </div>
                                        <span class="amount item_price">$2000.00</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_4 span_1_of_4 simpleCart_shelfItem last_1">
                        <a>
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="images/pic4.jpg" class="img-responsive" alt="" />
                                    <a href="" class="button item_add item_1"> </a>
                                    <div class="product_container">
                                        <div class="cart-left">
                                            <p class="title">Lorem Ipsum 2015</p>
                                        </div>
                                        <span class="amount item_price">$2000.00</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="content_grid">
                    <div class="col_1_of_4 span_1_of_4 simpleCart_shelfItem">
                        <a>
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="images/pic4.jpg" class="img-responsive" alt="" />
                                    <a href="" class="button item_add item_1"> </a>
                                    <div class="product_container">
                                        <div class="cart-left">
                                            <p class="title">Lorem Ipsum 2015</p>
                                        </div>
                                        <span class="amount item_price">$1700.00</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_4 span_1_of_4 simpleCart_shelfItem">
                        <a>
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="images/pic5.jpg" class="img-responsive" alt="" />
                                    <a href="" class="button item_add item_1"> </a>
                                    <div class="product_container">
                                        <div class="cart-left">
                                            <p class="title">Lorem Ipsum 2015</p>
                                        </div>
                                        <span class="amount item_price">$800.00</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_4 span_1_of_4 simpleCart_shelfItem last_1">
                        <a>
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="images/pic6.jpg" class="img-responsive" alt="" />
                                    <a href="" class="button item_add item_1"> </a>
                                    <div class="product_container">
                                        <div class="cart-left">
                                            <p class="title">Lorem Ipsum 2015</p>
                                        </div>
                                        <span class="amount item_price">$199.00</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_4 span_1_of_4 simpleCart_shelfItem">
                        <a ng-href="#/itemlist">
                            <div class="inner_content clearfix">
                                <!-- <a ng-href="#/itemlist"> -->
                                    <div class="product_image">
                                        <h3 class="viewallclick">View All ></h3>
                                    </div>
                                <!-- </a> -->
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <h3 class="m_2 pb-2">Top Products</h3>
                <div id="view_all_div" class="col_1_of_4 span_1_of_4 simpleCart_shelfItem">
                    <a>
                        <div class="inner_content clearfix">
                            <a ng-href="#/itemlist">
                                <div class="product_image">
                                    <h3 style="padding:5em 0 5em 0" class="viewallclick">View All ></h3>
                                </div>
                            </a>
                        </div>
                    </a>
                </div>
                <ul id="flexiselDemo3">
                    <li>
                        <img src="images/pic11.jpg" class="img-responsive" />
                        <div class="grid-flex">
                            <a href="#">Syenergy 2mm</a>
                            <p>Rs 850</p>
                        </div>
                    </li>
                    <li>
                        <img src="images/pic10.jpg" class="img-responsive" />
                        <div class="grid-flex">
                            <a href="#">Surf Yoke</a>
                            <p>Rs 1050</p>
                        </div>
                    </li>
                    <li>
                        <img src="images/pic4.jpg" class="img-responsive" />
                        <div class="grid-flex">
                            <a href="#">Salty Daiz</a>
                            <p>Rs 990</p>
                        </div>
                    </li>
                    <li>
                        <img src="images/pic8.jpg" class="img-responsive" />
                        <div class="grid-flex">
                            <a href="#">Cheeky Zane</a>
                            <p>Rs 850</p>
                        </div>
                    </li>
                    <li>
                        <img src="images/pic7.jpg" class="img-responsive" />
                        <div class="grid-flex">
                            <a href="#">Synergy</a>
                            <p>Rs 870</p>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->