<div class="main">
	<div>
		<div class="container">
			<div>

				<div>
					<div class="mens-toolbar">
						<div class="sort">
							<div class="sort-by">
								<label>Sort By</label>
								<select>
									<option value="">
										Position </option>
									<option value="">
										Name </option>
									<option value="">
										Price </option>
								</select>
								<a href="">
									<img src="images/arrow2.gif" alt="" class="v-middle">
								</a>
							</div>
						</div>
					
					</div>
					<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
						<div class="cbp-vm-options">
							<a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid" title="grid">Grid View</a>
							<a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list" title="list">List View</a>
						</div>
						<div class="pages">
							<div class="limiter visible-desktop">
								<label>Show</label>
								<select>
									<option value="" selected="selected">
										9 </option>
									<option value="">
										15 </option>
									<option value="">
										30 </option>
								</select> per page
							</div>
						</div>
						<div class="clearfix"></div>
						<ul>
							<li class="simpleCart_shelfItem">
								<a class="cbp-vm-image" href="single.html">
									<div class="inner_content clearfix">
										<div class="product_image">
											<img src="images/pic12.jpg" class="img-responsive" alt="" />
											<div class="product_container">
												<div class="cart-left">
													<p class="title">Lorem Ipsum 2015</p>
												</div>
												<div class="mount item_price price">$99.00</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="cbp-vm-details">
									Silver beet shallot wakame tomatillo salsify mung bean beetroot groundnut.
								</div>
								<a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
							</li>
							<li class="simpleCart_shelfItem">
								<a class="cbp-vm-image" href="single.html">
									<div class="inner_content clearfix">
										<div class="product_image">
											<img src="images/pic11.jpg" class="img-responsive" alt="" />
											<div class="product_container">
												<div class="cart-left">
													<p class="title">Lorem Ipsum 2015</p>
												</div>
												<div class="price">$99.00</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="cbp-vm-details">
									Wattle seed bunya nuts spring onion okra garlic bitterleaf zucchini.
								</div>
								<a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
							</li>
							<li class="simpleCart_shelfItem">
								<a class="cbp-vm-image" href="single.html">
									<div class="inner_content clearfix">
										<div class="product_image">
											<img src="images/pic10.jpg" class="img-responsive" alt="" />
											<div class="product_container">
												<div class="cart-left">
													<p class="title">Lorem Ipsum 2015</p>
												</div>
												<div class="price">$99.00</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="cbp-vm-details">
									Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean.
								</div>
								<a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
							</li>
							<li class="simpleCart_shelfItem">
								<a class="cbp-vm-image" href="single.html">
									<div class="inner_content clearfix">
										<div class="product_image">
											<img src="images/pic4.jpg" class="img-responsive" alt="" />
											<div class="product_container">
												<div class="cart-left">
													<p class="title">Lorem Ipsum 2015</p>
												</div>
												<div class="price">$99.00</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="cbp-vm-details">
									Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean kombu chard.
								</div>
								<a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
							</li>
							<li class="simpleCart_shelfItem">
								<a class="cbp-vm-image" href="single.html">
									<div class="inner_content clearfix">
										<div class="product_image">
											<img src="images/pic8.jpg" class="img-responsive" alt="" />
											<div class="product_container">
												<div class="cart-left">
													<p class="title">Lorem Ipsum 2015</p>
												</div>
												<div class="price">$99.00</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="cbp-vm-details">
									Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean kombu chard.
								</div>
								<a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
							</li>
							<li class="simpleCart_shelfItem">
								<a class="cbp-vm-image" href="single.html">
									<div class="inner_content clearfix">
										<div class="product_image">
											<img src="images/pic7.jpg" class="img-responsive" alt="" />
											<div class="product_container">
												<div class="cart-left">
													<p class="title">Lorem Ipsum 2015</p>
												</div>
												<div class="price">$99.00</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="cbp-vm-details">
									Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean kombu chard.
								</div>
								<a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
							</li>
							<li class="simpleCart_shelfItem">
								<a class="cbp-vm-image" href="single.html">
									<div class="inner_content clearfix">
										<div class="product_image">
											<img src="images/pic6.jpg" class="img-responsive" alt="" />
											<div class="product_container">
												<div class="cart-left">
													<p class="title">Lorem Ipsum 2015</p>
												</div>
												<div class="price">$99.00</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="cbp-vm-details">
									Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean kombu chard.
								</div>
								<a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
							</li>
							<li class="simpleCart_shelfItem">
								<a class="cbp-vm-image" href="single.html">
									<div class="inner_content clearfix">
										<div class="product_image">
											<img src="images/pic5.jpg" class="img-responsive" alt="" />
											<div class="product_container">
												<div class="cart-left">
													<p class="title">Lorem Ipsum 2015</p>
												</div>
												<div class="price">$99.00</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="cbp-vm-details">
									Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean kombu chard.
								</div>
								<a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
							</li>
							<li class="simpleCart_shelfItem">
								<a class="cbp-vm-image" href="single.html">
									<div class="inner_content clearfix">
										<div class="product_image">
											<img src="images/pic4.jpg" class="img-responsive" alt="" />
											<div class="product_container">
												<div class="cart-left">
													<p class="title">Lorem Ipsum 2015</p>
												</div>
												<div class="price">$99.00</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</a>
								<div class="cbp-vm-details">
									Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean kombu chard.
								</div>
								<a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
							</li>
						</ul>
					</div>
					<script src="js/cbpViewModeSwitch.js" type="text/javascript"></script>
					<script src="js/classie.js" type="text/javascript"></script>
				</div>
			</div>
		</div>
	</div>
</div>