<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="account">
                    <div>  
                        <div class="Account" id="orderid">  
                            <span class="glyphicon glyphicon-inbox" id="order"></span>
                            <span class="highlight"> ORDER HISTORY </span>
                            <span class="glyphicon glyphicon-menu-right" id="right"></span>
                       </div>
                    </div>
                </div>
                <div class="account">
                    <div>  
                        <div class="Account">  <span class="glyphicon glyphicon-user" id="profileimage"></span>ACCOUNT SETTINGS </div>
                    </div>
                    <div class="settings">
                        <a> <div><span>Personal Information</span></div> </a>
                        <a> <div><span>Change Password</span> </div></a>
                        <a> <div><span>Manage Addresses</span></div> </a>
                        <a> <div><span>Log Out</span></div></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                    <div class="account">
                            <form> 
                                <div class="register-top-grid">
                                   <a class="topedit"> Save</a>
                                   <a class="topedit"> Edit </a>
                                   <h3>PERSONAL INFORMATION</h3>
                                    <div>
                                        <span class="edit">First Name</span>
                                        <input type="text"> 
                                    </div>
                                    <div>
                                        <span class="edit">Last Name</span>
                                        <input type="text"> 
                                    </div>
                                    <div>
                                        <span class="edit">Email Address</span>
                                        <input type="text"> 
                                    </div>
                                    <div>
                                        <span class="edit">Mobile Number</span>
                                        <input type="text"> 
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </form>
                            <div class="clearfix"> </div>
                        </div>
            </div>

<!--- Change Password div -->
            <div class="col-md-8">
                    <div class="account">
                            <form> 
                                <div class="register-top-grid">
                                   <h3> CHANGE PASSWORD </h3>
                                    <div>
                                        <span class="edit"> Current Password </span>
                                        <input type="password"> 
                                    </div>
                                    <div>
                                        <span class="edit"> New Password </span>
                                        <input type="password"> 
                                    </div>
                                    <div>
                                        <span class="edit"> Confirm password </span>
                                        <input type="password"> 
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </form>
                            <div class="clearfix"> </div>
                            <div class="confirm-but">
                                <form>
                                    <input type="submit" value="Confirm Password">
                                    <div class="clearfix"> </div>
                                </form>
                            </div>
                    </div>
            </div>

<!--- Manage Addresses div -->
           <div class="col-md-8">
              <div class="account">
                   <div class="register-top-grid">
                    <h3> MANAGE ADDRESSES </h3>
                   </div>
                    <div class="manage_addr">
                        <div class="imgdel"> <span class="glyphicon glyphicon-remove"></span> </div>
                        <p>
                            <span class="name"> Raju </span>
                            <span class="mobile"> 8130584313 </span>
                            <div class="addr"> 
                                <span> Near fatehwadi tower Sarkhej Ahmedabad 380009, House No. - 108, Adarsh nagar, AHMEDABAD, Gujarat - 380009</span> 
                            </div>
                        </p>
                    </div>
                    <div class="manage_addr">
                        <div class="imgdel"> <span class="glyphicon glyphicon-remove"></span> </div>
                        <p>
                            <span class="name"> Raju </span>
                            <span class="mobile"> 8130584313 </span>
                            <div class="addr"> 
                                <span> Near fatehwadi tower Sarkhej Ahmedabad 380009, House No. - 108, Adarsh nagar, AHMEDABAD, Gujarat - 380009</span> 
                            </div>
                        </p>
                    </div>
              </div>
           </div>
        </div>
    </div>
</div>