<div>
    <div class="container">
        <div class="account">
            <div class="register-top-grid">
                <h3> MY ORDERS </h3>
            </div>

            <div class="orderhistory">
                <div class="headingdiv">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ordid"> Order Id : <span> 19327310783 </span></div>
                        </div>
                        <div class="col-md-6">
                            <div class="ordid"id="ordiddiv"> Ordered On : <span> 22 May,2018 </span></div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                      <img src="images/pic3.jpg" class="img" alt="">
                    </div>
                    <div class="col-md-4">
                        <div id="itemname">
                           <span> DUREX </span>
                        </div>
                        <div  id="itemprice">
                           <span> Rs. 40</span>
                        </div>
                    </div>
                    <div col-md-5>

                    </div>
                </div>

                <div class="status">
                    <span class="subordstatus"> Status : 
                        <span class="subordtext"> Delivered </span>
                    </span>
                    <span class="expdel"> Delivered on :
                        <span class="subordtext"> 23 May,2018 </span>
                    </span>
                </div>

                <div class="timeline">
                    <span class="circle greencircle circle2"></span>
                    <span class="line greenline line2"></span>
                    <span class="circle greencircle circle2"></span>
                    <span class="line greenline line2"></span>
                    <span class="circle greencircle circle2"></span>
                </div>
            </div>
            <div class="orderhistory">
                    <div class="headingdiv">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="ordid"> Order Id : <span> 19327310783 </span></div>
                            </div>
                            <div class="col-md-6">
                                <div class="ordid"id="ordiddiv"> Ordered On : <span> 22 May,2018 </span></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                          <img src="images/pic3.jpg" class="img" alt="">
                        </div>
                        <div class="col-md-4">
                            <div id="itemname">
                               <span> DUREX </span>
                            </div>
                            <div  id="itemprice">
                               <span> Rs. 40</span>
                            </div>
                        </div>
                        <div col-md-5>
    
                        </div>
                    </div>
    
                    <div class="status">
                        <span class="subordstatus"> Status : 
                            <span class="subordtext"> Delivered </span>
                        </span>
                        <span class="expdel"> Delivered on :
                            <span class="subordtext"> 23 May,2018 </span>
                        </span>
                    </div>
    
                    <div class="timeline">
                        <span class="circle greencircle circle2"></span>
                        <span class="line greenline line2"></span>
                        <span class="circle greencircle circle2"></span>
                        <span class="line greenline line2"></span>
                        <span class="circle greencircle circle2"></span>
                    </div>
                </div>
            
        </div>
    </div>
</div>