<!-- <script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script> -->
<div>
    <div class="container" ng-controller="retrieveproductcontroller" >
        <div class="row">
            <div class="col-md-4">
                <div class="previewdiv mrgnbtm">
                    <div>
                        <img  class="img-responsive previewimage"  ng-src="{{imgpath}}" alt="" >
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="previewdiv mrgnbtm" >
                    <h3 class="quick">{{prevname}}</h3>
                    <p class="previewprice">Rs. {{prevprice}}</p>
                    <h3 class="previewname">Quick Overview:</h3>
                    <p class="quick_desc">{{prevdes}}</p>

                    <ul class="product-qty">
                        <span>Quantity:</span>
                        <select ng-model="prevquant">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </ul>
                    <div style="margin-top:10px;margin-left:0px !important;" class="container">
                        <a>
                            <button ng-click="tocartdbfromprev()" class="btn btn-primary" type="submit" style="margin-left:-13px">
                                <span class="glyphicon glyphicon-shopping-cart"></span>&nbspAdd To Cart
                            </button>
                        </a>
                        <a>
                            <button ng-click="buynowprev()" class="btn btn-danger" type="submit">
                                <span class="glyphicon glyphicon-gift"></span>
                                &nbspBuy Now
                            </button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div style="margin-right:4%;margin-left:4%;margin-bottom:4%">
    <div class="sap_tabs">
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
            <ul class="resp-tabs-list">
                <li class="resp-tab-item" aria-controls="tab_item-0" role="tab">
                    <span>Product Description</span>
                </li>
                <li class="resp-tab-item" aria-controls="tab_item-1" role="tab">
                    <span>Additional Information</span>
                </li>
                <li class="resp-tab-item" aria-controls="tab_item-2" role="tab">
                    <span>Reviews</span>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="resp-tabs-container">
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                    <div style="background-color:white" class="facts">
                        <ul class="tab_list">
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                    ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                                    exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</a>
                            </li>
                            <li>
                                <a href="#">augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option
                                    congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent
                                    claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigatione</a>
                            </li>
                            <li>
                                <a href="#">claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes
                                    demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus
                                    dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera
                                    gothica
                                </a>
                            </li>
                            <li>
                                <a href="#">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                                    formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc
                                    nobis videntur parum clari, fiant sollemnes in futurum.</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                    <div style="background-color:white" class="facts">
                        <ul class="tab_list">
                            <li>
                                <a href="#">augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option
                                    congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent
                                    claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigatione</a>
                            </li>
                            <li>
                                <a href="#">claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes
                                    demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus
                                    dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera
                                    gothica
                                </a>
                            </li>
                            <li>
                                <a href="#">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                                    formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc
                                    nobis videntur parum clari, fiant sollemnes in futurum.</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                    <div style="background-color:white" class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                        <ul class="tab_list">
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                    ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                                    exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</a>
                            </li>
                            <li>
                                <a href="#">augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option
                                    congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent
                                    claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigatione</a>
                            </li>
                            <li>
                                <a href="#">claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes
                                    demonstraverunt lectores leg
                                </a>
                            </li>
                            <li>
                                <a href="#">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                                    formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc
                                    nobis videntur parum clari, fiant sollemnes in futurum.</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->